.titulo{
  font-family: 'Courier New', Courier, monospace;
}
.bolisimg{
  width: 30%;
}
.logo{
  width: 30px;
  z-index: 0;
  
}
.nav{
  background-color: #ffffff;
  display: flex;
  width: 100%;
  height: 30px ;
  justify-content: space-around;
  align-items: center;
  border: 5px black solid;
}
.Empresa{
  background-color: #6365f7;
  display: flex;
  width: 100%;
  height: 30% ;
  justify-content: space-around;
  align-items: center;
  border: 5px black solid;
  text-align: center;
}
.Empresacontenido{
  background-color: #6365f7;
  display: flex;
  width: 100%;
  height: 30% ;
  justify-content: space-around;
  align-items: center;
  border: 5px black solid;
  text-align: center;
}
.menu1{
  background-color: #6365f7;
  display: flex;
  position: fixed;
  z-index: 5;
  height: auto ;
  top: 0;
  left: -150px;
  justify-content: left;
  align-items: left;
  border: 5px black solid;
  text-align: center;
  flex-direction: column;
  animation-name: desaparecer;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: backwards;
}
.menu2{
  background-color: #6365f7;
  display: flex;
  position: fixed;
  z-index: 5;
  height: auto ;
  top: 90px;
  left: 0;
  justify-content: left;
  align-items: left;
  border: 5px black solid;
  text-align: center;
  flex-direction: column;
  animation-name: aparecer;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: backwards;
}
.App {

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes aparecer {
  from {
    left: -150px;
  }
  to {
    left: 0;
  }
}
@keyframes desaparecer {
  from {
    left: 0;
  }
  to {
    left: -150px;
  }
}
